/*Carol Joplin
  Simple Webpage
*/

html {
    font-family: "ralewayregular", Arial, sans-serif;
    font-size: 1em;
}

h1 {
    margin: 0 auto;
}

.full-page-background {
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("forest.jpeg");
	background-size: cover;
}

/* LINKS BAR */
a {
    text-decoration: none;
    /* color: #775A4A; */
    color: #1B3035;
    transition: all 0.4s ease-in-out;
  }
  a:hover {
    /*box-shadow: -12px -12px 12px 20px rgba(0, 0, 0, 0.209);
    border-radius: 10px;
    cursor: pointer;*/
    color: #DB8555;
}
  
  .home {
    position: relative;
    margin: 10px;
  }
  .about {
    position: relative;
    margin: 10px;
  }
  .contact {
    position: relative;
    margin: 10px;
  }
  
  .resume {
    position: relative;
    margin: 10px;
  } 
  
  .beerHTML {
    position: relative;
    margin: 10px;
  } 
  
  .mapHTML {
    position: relative;
    margin-left: 10px;
  } 

.links {
    position: relative;
    text-align: right;
    display: block;
    margin: 0 auto;
    padding: 15px;
    background: transparent;
    /* background: rgba(0,0,0,0.1); */
    color: #E9E8EF;
    font-weight: 900;
}

.header {
    display: flex;
    position: relative;
    text-align: left;
    margin: 5% auto;
    color: #1B3035;
}

.elements {
    position: relative;
    background-color: #C4C8C8;
    padding: 15px;
    height: auto;
}

label {
    text-align: left;
    display: block;
    padding: 1em 0 5px;
    color: #3C3232;
}

input, select, textarea {
    font-family: "ralewayregular", Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 2px #6F858A solid;
    padding: 0.5em;
    color: #3C3232;
}

/* input:valid {
    border: 2px #6F858A solid;

}
input:invalid {
    border: 2px #DB8555 solid;
}

select:valid {
    border: 2px #6F858A solid;
}
select:invalid {
    border: 2px #DB8555 solid;
}

textarea:invalid {
    border: 2px #DB8555 solid;
}
textarea:valid {
    border: 2px #6F858A solid;
} */

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px  solid;
    /*color: #DB8555;*/
    color: darkgray;
}

textarea {
    height: 100px;
    resize: none;  
}

select {
    background-color: #E9E8EF;
}

button {
    text-align: left;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: #E9E8EF;
} 

input[type="submit"]:hover {
    color: #E9E8EF;
    background: #6F858A;
}
.formContainer {
    position: relative;
    display: none;
    text-align: left;
    border: 2px solid #6F858A;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 50px;
}

.outerFormContainer {
    color: #6F858A;
}

.nameFormContainer {
    padding: 0 10px 0 0;
}

.emailFormContainer {
    padding: 0 10px 0 0;
}

.aboutFormContainer {
    padding: 0 10px 0 0;
}

.bar {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
    color: #D3D8DD;
}

.copyright {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    right: 0;
}

.photocred {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.bottomIcons {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    text-align: center;
}

.linked {
    position: relative;
    display: inline-block;
    text-align: center;
}

.git {
    position: relative;
    display: inline-block;
    text-align: center;
}

@media only screen and (max-width: 1024px){

    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
        background-color: #E9E8EF;
        /* background-color: white; */
    } 
    
    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
    } 

    /* input:focus, select:focus, textarea:focus {
        outline: none;
        border: 2px  solid;
        /*color: #DB8555;
        color: darkgray;
    }
     */
    input[type="submit"]:hover {
        color: #E9E8EF;
        background: #6F858A;
    }

    .elements {
        position: relative;
        background-color: #C4C8C8;
        padding: 15px;
        height: auto;
    }

    .flex-container {
        position: relative;
        flex-wrap: wrap;
        text-align: left;
        align-items: left;
        justify-content: left;
        margin: auto;
    }

    .bar {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 15px;
        color: white;
    }
}


@media only screen and (max-width: 768px){

    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
        background-color: #E9E8EF;
    } 
    
    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
    } 
    
    input[type="submit"]:hover {
        color: whitesmoke;
        background: #6F858A;
    }

    input:focus, select:focus, textarea:focus {
        outline: none;
        border: 2px  solid;
        /*color: #DB8555;*/
        color: darkgray;
    }

    .elements {
        position: relative;
        background-color: #C4C8C8;
        padding: 15px;
        height: auto;
    }

    .flex-container {
        position: relative;
        flex-wrap: wrap;
        text-align: left;
        align-items: left;
        justify-content: left;
        margin: auto;
    }

    .bar {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 15px;
        color: #D3D8DD;
    }
}
