/*
    NAME: CAROL JOPLIN
    DATE: APRIL 23, 2018
    ASGN: JS-AND-JQUERY
    FILE: STYLES.CSS
*/

html {
    font-family: 'aileronregular', Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
  }

  .headersection {
    position: relative;
    padding: 50px 0;
    background-color: lightcoral;
  }

  .post-container {
	border: 2px solid aquamarine;
	background: rgba(0,0,0, 0.03);
	padding: 20px;
	border-radius: 10px;
	margin: 20px 50px;
}
