/*Carol Joplin
  Simple Webpage
*/

html {
    font-family: "aileronregular", Arial, sans-serif;
    font-size: 1em;
}

h1 {
    margin: 0 auto;
}

.box {
    height: 250px;
    position: relative;
    text-align: center;
    background-color: coral;
    display: block;
    margin: 0 auto;
}

.topBox{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.inner-content {
    max-width: 1024px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.flex-container {
    position: relative;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 0% 10%;
}	

label {
    text-align: left;
    display: block;
    padding: 1em 0 5px;
}


input, select, textarea {
    font-family: "aileronregular", Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 2px coral/*color*/ solid;
    border-radius: 5px;
    padding: 0.5em;
    color: coral;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px lightblue/*highlight_color*/ solid;
    color: lightblue;
}

input::placeholder, textarea::placeholder {
    color: coral;/*color of placeholder text*/
}

textarea {
    height: 100px;
    resize: none;
    
}

select {
    background-color: white;
}

.rButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.rButtons label {
    display: inline;
}

.rButtons input {
    width: auto;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.4s ease;
} 

input[type="submit"]:hover {
    color: coral /*hover color*/;
    background: lightpink/*background color*/
}


.btn {
    position: relative;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    color: black;
    border: solid 1px;
    padding: 5px;
    text-align: center;
    display: block;
    width: 100px;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 5px;
    animation: fade 2s infinite;
}
.btn:hover {
    text-decoration: none;
    transform: scale(1.15); /*translate keeps it in the same spot when it gets bigger*/

    -webkit-animation: buttonGrow 5s; /* Safari 4+ */
    -moz-animation: buttonGrow 5s; /* Fx 5+ */
    -o-animation: buttonGrow 5s; /* Opera 12+ */
    animation: buttonGrow 5s; /* IE 10+, Fx 29+ */
}

/*apply state to button when clicked*/
.btn:active {
    text-decoration: none;
    color: white;
}

/*keyframe animations*/
@-webkit-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@-moz-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@-o-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}



@media only screen and (max-width: 768px){
	/*start overwriting and changing position*/
	/*keep font size above 12px*/

    .btn {
        position: relative;
        background-color: rgb(218, 218, 218);
        text-decoration: none;
        color: black;
        border: solid 1px;
        padding: 5px;
        text-align: center;
        display: block;
        width: 85px;
        font-size: 12px;
        margin: 4px auto;
        cursor: pointer;
        border-radius: 5px;
        animation: fade 2s infinite;
    }
    .btn:hover {
        text-decoration: none;
        transform: scale(1.15); /*translate keeps it in the same spot when it gets bigger*/
    
        -webkit-animation: buttonGrow 5s; /* Safari 4+ */
        -moz-animation: buttonGrow 5s; /* Fx 5+ */
        -o-animation: buttonGrow 5s; /* Opera 12+ */
        animation: buttonGrow 5s; /* IE 10+, Fx 29+ */
    }
    
    /*apply state to button when clicked*/
    .btn:active {
        text-decoration: none;
        color: white;
    }
    
    /*keyframe animations*/
    @-webkit-keyframes buttonGrow {
        /*how you want it to transition*/
        0% {transform: scale(1) ease;}
        100% {transform: scale(1.15) ease;}
    }
    
    @-moz-keyframes buttonGrow {
        /*how you want it to transition*/
        0% {transform: scale(1) ease;}
        100% {transform: scale(1.15) ease;}
    }
    
    @-o-keyframes buttonGrow {
        /*how you want it to transition*/
        0% {transform: scale(1) ease;}
        100% {transform: scale(1.15) ease;}
    }
    
    @keyframes buttonGrow {
        /*how you want it to transition*/
        0% {transform: scale(1) ease;}
        100% {transform: scale(1.15) ease;}
    }
}
