/*Carol Joplin
  Simple Webpage
*/

.links{
    height: 30%;
    position: relative;
    text-align: right;
    font-family: "aileron-regular-webfont", Arial, sans-serif;
    margin: 10px 10px 10px 10px;
}

.linked {
    position: relative;
    margin: 10px;
}

.git {
    position: relative;
    margin: 10px;
}

.schrute {
    position: relative;
    margin: 10px;
}

.header {
    position: relative;
    text-align: center;
}

h1 {
    font-family: "aileron-bold-webfont", Arial, sans-serif;
    margin: 25px;
}

.about {
   
    height: 30%;
    position: relative;
    text-align: center;
    /*background: linear-gradient(to right, rgb(0, 68, 255), rgb(185, 222, 252));*/
    background-color: rgb(185, 222, 252);
    color: linear-gradient(to right, rgb(0, 26, 99), rgb(217, 171, 247));
    border: 0px 0px 25px 0px solid rgb(144, 204, 253);
    position: relative;
    padding: 25px 25px 25px 25px;
    font-family: "Aileron-Regular", Arial, sans-serif;
    display: block;
}

h2 {
    font-family: "aileron-bold-webfont", Arial, sans-serif;
}

.secondHeader {
    margin: 0 15px 15px 15px;
    padding: 0;
}


.image-container {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 15.6px 0px 12px 0px;
    width: 50%;
}

.btn {
    position: relative;
    background-color: rgb(10, 81, 139);
    border: solid 1px;
    color: white;
    padding: 1em;
    text-align: center;
    font-family: "Aileron-Regular", Arial, sans-serif;
    display: inline-block;
    left: 50%;
    top: 50%;
    opacity: 1;
	transform: translate(-50%, -50%); 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 1em;
    border-radius: 10px;
}


.box {
    position: relative;
    height: 200px; 
    background: rgb(10, 81, 139);
    border: 25px solid rgb(10, 81, 139);
    margin: 0;

}

.bar {
    position: relative;
    height: 10px;
    background: rgb(0, 0, 0);
    border: 15px solid rgb(0, 0, 0);  
}


.copyright {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    vertical-align: middle;
    text-align: left;
    /*border: 10px solid rgb(0, 0, 0);*/
    color: white;
    font-family: "Aileron-Regular", Arial, sans-serif;
}