/*Carol Joplin
  Simple Webpage
*/

html {
    font-family: "aileronregular", Arial, sans-serif;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.inner-content {
    max-width: 1024px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

header {
    height: 50px;
    position: relative;
    background-color: black;
}

.headerIcon {
    position: relative;
    text-align: right;
    right: 10%;
    font-size: 3em; 
    color:white;
}

.boxText {
    color: white;
    text-align: center;
}

.links{
    position: absolute;
    text-align: left;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 20%;
    color: white;
}

.lnk1 {
    position: relative;
    margin: 10px;
    color: white;
}

.lnk2 {
    position: relative;
    margin: 10px;
    color: white;
}

.lnk3 {
    position: relative;
    margin: 10px;
    color: white;
}

.exampleHeadline {
    position: relative;
    margin: 0 15px 15px 15px;
    padding: 0;
}

.box {
    height: 300px;
    position: relative;
    text-align: center;
    background-color: rgb(189, 189, 189);
    display: block;
    margin: 0 auto;
}

.boxDiv{
    position: relative;
    padding: 10%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.btn {
    position: relative;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    color: black;
    border: solid 1px;
    padding: 5px 30px 5px 30px;
    text-align: center;
    display: block;
    transform: translate(-50%, -50%); 
    top: 10%;
    left: 50%;
    width: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    animation: fade 2s infinite;
}
.btn:hover {
    text-decoration: none;
    transform: translate(-50%, -50%) scale(1.15); /*translate keeps it in the same spot when it gets bigger*/

    -webkit-animation: buttonGrow 5s; /* Safari 4+ */
    -moz-animation: buttonGrow 5s; /* Fx 5+ */
    -o-animation: buttonGrow 5s; /* Opera 12+ */
    animation: buttonGrow 5s; /* IE 10+, Fx 29+ */
}

/*apply state to button when clicked*/
.btn:active {
    text-decoration: none;
    color: white;
}

/*keyframe animations*/
@-webkit-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@-moz-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@-o-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

.flex-container {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

.boxIcon {
    position: relative;
    text-align: center;
    top: 15%;
    margin: 10px 10px 10px 10px;
    font-size: 3em; 
    color:black;
}