/*Carol Joplin
  Simple Webpage
*/

html {
    font-family: "Aileron-Regular", Arial, sans-serif;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

header {
    height: 50px;
    position: relative;
}

p {
    color: white;
}

.lnk1 {
    position: absolute;
    transform: translateY(-50%);
    margin: 10px;
}

.lnk2 {
    position: absolute;
    transform: translateY(-50%);
    margin: 10px;
}

.lnk3 {
    position: absolute;
    transform: translateY(-50%);
    margin: 10px;
}



h2 {
    font-family: "aileron-bold-webfont", Arial, sans-serif;
}

.exampleHeadline {
    position: relative;
    margin: 0 15px 15px 15px;
    padding: 0;
}

.box {
    height: 300px;
    position: relative;
    text-align: center;
    background-color: rgb(189, 189, 189);
    padding: 25px 25px 25px 25px;
    display: block;
    margin: 0;
}

.btn {
    position: relative;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    color: black;
    border: solid 1px;
    padding: 5px 30px 5px 30px;
    text-align: center;
    display: block;
    transform: translate(-50%, -50%); 
    top: 10%;
    left: 50%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    animation: fade 2s infinite;
}
.btn:hover {
    text-decoration: none;
    transform: translate(-50%, -50%) scale(1.15); /*translate keeps it in the same spot when it gets bigger*/

    -webkit-animation: buttonGrow 5s; /* Safari 4+ */
    -moz-animation: buttonGrow 5s; /* Fx 5+ */
    -o-animation: buttonGrow 5s; /* Opera 12+ */
    animation: buttonGrow 5s; /* IE 10+, Fx 29+ */
}

/*apply state to button when clicked*/
.btn:active {
    text-decoration: none;
    color: white;
}

/*keyframe animations*/
@-webkit-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@-moz-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@-o-keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

@keyframes buttonGrow {
    /*how you want it to transition*/
    0% {transform: scale(1) ease;}
    100% {transform: scale(1.15) ease;}
}

