/*Carol Joplin
  Simple Webpage
*/

html {
    font-family: "ralewayregular", Arial, sans-serif;
    font-size: 1em;
}

h1 {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #D3D8DD;
}

.full-page-background {
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("forest.jpeg");
	background-size: cover;
}

.links {
    position: relative;
    text-align: right;
    display: block;
    margin: 0 auto;
    border: 15px solid transparent;
    background: transparent;
    background: rgba(0,0,0,0.3);
    color: #E9E8EF;
    font-weight: 900;
}
.home {
    position: relative;
    margin: 10px;
}
.about {
    position: relative;
    margin: 10px;
}
.tba {
    position: relative;
    margin: 10px;
}

.header {
    display: flex;
    position: relative;
    text-align: left;
    margin: 5% auto;
}

.elements {
    box-sizing: border-box;
    padding: 3%;
    background-color: #A7B7B6;
    border: 15px solid #A7B7B6;
    height: auto;
}

label {
    text-align: left;
    display: block;
    padding: 1em 0 5px;
    color: #3C3232;
}

input, select, textarea {
    font-family: "ralewayregular", Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 2px #6F858A solid;
    padding: 0.5em;
    color: #3C3232;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px #89A0A0 solid;
    color: #6F858A;
}

textarea {
    height: 100px;
    resize: none;  
}

select {
    background-color: #E9E8EF;
}

.submitButton {
    text-align: left;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.4s ease;
} 

input[type="submit"]:hover {
    color: #E9E8EF;
    background: #6F858A;
}

.bar {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
    color: #D3D8DD;
}

.copyright {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    right: 0;
}

.photocred {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.bottomIcons {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    text-align: center;
}

.linked {
    position: relative;
    display: inline-block;
    text-align: center;
}

.git {
    position: relative;
    display: inline-block;
    text-align: center;
}

@media only screen and (max-width: 1024px){

    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
        background-color: #E9E8EF;
    } 
    
    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
    } 
    
    input[type="submit"]:hover {
        color: #E9E8EF;
        background: #6F858A;
    }

    .elements {
        position: relative;
        background-color: #A7B7B6;
        border: 15px solid #A7B7B6;
        height: auto;
    }

    .flex-container {
        position: relative;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .bar {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 15px;
        color: white;
    }
}


@media only screen and (max-width: 768px){

    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
        background-color: white;
    } 
    
    input[type="submit"] {
        width: auto;
        padding: 10px 20px;
        margin-top: 2em;
        cursor: pointer;
        transition: all 0.4s ease;
    } 
    
    input[type="submit"]:hover {
        color: whitesmoke;
        background: #6F858A;
    }

    .elements {
        position: relative;
        background-color: #A7B7B6;
        border: 15px solid #A7B7B6;
        height: auto;
    }

    .flex-container {
        position: relative;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .bar {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 15px;
        color: white;
    }
}